<nav class="main-nav headroom">
	{{#if @blog.logo}}
		{{!-- <a class="scratch-logo" href="/"><img src="{{@blog.logo}}"></a> --}}
	{{/if}}
	<a href="/">Home</a><a href="/about">About</a><a href="/projects">Projects</a>
</nav>