{{!< default}}

<header class="main-header" style="background-image: url({{@blog.cover}})">
	<div class="vertical">
		<div class="main-header-content inner">
			<h1 class="page-title blog-title shadow">{{@blog.title}}</h1>
			<div class="blog-description shadow">{{@blog.description}}</div>
		</div>
	</div>
	<a class="scroll-down icon-down shadow" href="#content"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
    <div class="inner">
		<div class="scratch-page-number">
		    &mdash; {{pagination.page}} &mdash;
		</div>
	    {{> loop}}
    </div>
</main>