{{!< default}}

<div class="scratch-page-number">
    <span class="category-header">Category: <span class="tag-name capitalize">{{tag.name}}</span></span> &mdash; {{pagination.page}} &mdash;
</div>
{{> loop}}